<!DOCTYPE html>
	<head>
		<link rel="stylesheet" href="animate.css" />
		<link rel="stylesheet" href="style.css" />
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/juggling_animation.js"></script>
	</head>
	<body>
		<header>
			<hgroup>
				<h1>Siteswap</h1>
				<h2>Throw Patterns for Jugglers</h2>
			</hgroup>
		</header>
		<div id="main">
			<%= yield %>
			<hr class="clear" />
		</div>
	</body>
</html>