<section>
	<form action='/patterns' name='all_values' method='post'>
		<h2>Basic Controls</h2> 
		<ul>         
			<li>
				<h4>Number of Props</h4>
				<input name='props' type='text' />
			</li>
			<li>
				<h4>Pattern Length</h4>
				<input name='length' type='text' />
			</li>
		</ul>
		<h2>Advanced Controls</h2>
		<ul>
			<li>
				<h4>Include</h4>
				<input name='required' type='text' />
			</li>
			<li>
				<h4>Exclude</h4>
				<input name='excluded' type='text' />
			</li>
		</ul>
		<input class="button" type='submit' value='go' />
	</form>
</section>